
.container {
    background-color: #ecf0f1;
    font-family: 'Roboto', sans-serif;
    margin: 1em auto 1em auto;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    border-radius: 8px;
    padding-top: 1.5em;
    -webkit-box-shadow: #bdc3c7 0 5px 5px;
    -moz-box-shadow: #bdc3c7 0 5px 5px;
    box-shadow: #bdc3c7 0 5px 5px; 
}

.container h1 {
    text-align: center;
    font-weight: 500;
    font-size: 80px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }

  .container h1 {
    font-size: 150px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }

  .container h1 {
    font-size: 50px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.btn-group {
    display: block;
    width: 800px;
    margin:0 auto;
    text-align:center;
    margin-bottom: 65px;
}

.btn-group .btn {
    width: 33%;
    padding: 10px;
}

.laps {
    padding: 10px;
}

.lap {
    padding: 10px;
    display: flex;
    justify-content: space-around;
}