<div class="col-md-6 col-md-offset-3">
    <h2>Create New Activity - Student</h2>
    <form name="form" (ngSubmit)="f.form.valid && createActivity()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="activityName">Activity new Name</label>
            <select class="form-control" id="activityName" name="activityName" [(ngModel)]="model.activityName" #activityName="ngModel"
                required>
            <option *ngFor="let a of activitiesnames" [value]="a">{{a}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="measurementTypeId">Measurements Type</label>
            <select class="form-control" id="measurementTypeId" name="measurementTypeId" [(ngModel)]="model.measurementTypeId" #measurementTypeId="ngModel"
                required>
            <option *ngFor="let b of measurements" [value]="b">{{b}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="numOfMeasurements">Amount of Measurements</label>
            <select class="form-control" id="numOfMeasurements" name="numOfMeasurements" [(ngModel)]="model.numOfMeasurements" #numOfMeasurements="ngModel"
                required>
            <option *ngFor="let c of measAmount" [value]="c">{{c}}</option>
            </select>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !activityDate.valid }">
            <label for="activityDate">Date and Time for Activity</label>
            <input type="datetime-local" class="form-control" name="activityDate" [(ngModel)]="model.activityDate" #activityDate="ngModel"
                required />
            <div *ngIf="f.submitted && !activityDate.valid" class="help-block">Date and Time are required</div>
        </div>
        <div class="form-group">
            <label for="studentIdList">Choosen Students</label>
            <select class="form-control" id="studentIdList" name="studentIdList" [(ngModel)]="model.studentIdList" #studentIdList="ngModel">
            <option *ngFor="let s of students" [value]="s">{{s}}</option>
            </select>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Create</button>
            <div *ngIf=loading class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            <a [routerLink]="['/students/current']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>