img[alt="logo"] {
    width: 45%;
    height: 150px;
    display:block;
    margin:0 auto;
}

body {
    color: white;
    background-color: rgb(148, 49, 93);
    font-family: "Open Sans", sans-serif;
    font-size:16px;
}

.help-block {
    color: white;
}

[hidden] {
    display: none !important;
}

button[disabled] {
    cursor: not-allowed;
}

.list-group li {
    color: black;
}

.profile-image {
    border: 1px solid #eee;
    display: inline-block;
    width: 165px;
    height: 165px;
    border-radius: 5px;
}

.create-activity .invited-student {
    margin-bottom: 3px;
    margin-top:3px;
}

table {
    background: #fff;
}

.student-activities-page {
    color: #000;
}

.student-activities-page h3 {
    color: #fff;
    font-size:25px;
}