<div class="col-md-6 col-md-offset-3">
    <h2>Login</h2>
    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <label for="language">Language</label>
            <select class="form-control" id="language" name="language"
            [(ngModel)]="model.language" #language="ngModel" required>
            <option *ngFor="let l of languages" [ngValue]="l">{{l}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="userType">User Type</label>
            <select class="form-control" id="userType" name="userType"
            [(ngModel)]="model.userType" #userType="ngModel" required>
            <option *ngFor="let u of userTypes" [ngValue]="u">{{u}}</option>
            </select>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Login</button>
            <div *ngIf=loading class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            <a [routerLink]="['/register']" class="btn btn-link">Register</a>
            <a [routerLink]="['/registerTeacher']" class="btn btn-link">Register Teacher</a>
        </div>
    </form>
</div>
