<div class="col-md-6 col-md-offset-3">
    <form name="form" (ngSubmit)="f.valid && login()" #f="ngForm" novalidate autocomplete="off">
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.idNumber.valid }">
            <label for="idNumber">Id</label>
            <input type="number" class="form-control" name="idNumber" [(ngModel)]="model.idNumber" minlength="9" maxlength="9" required
                autocomplete="off" />
            <div *ngIf="f.submitted && !model.idNumber.valid" class="help-block">Id number is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !model.password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" required autocomplete="off" />
            <div *ngIf="f.submitted && !model.password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Login</button>
            <div *ngIf=loading class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            <a [routerLink]="['/registerTeacher']" class="btn btn-link">Register</a>
        </div>
    </form>
</div>