<div id="container" class="col-md-12">
  <div class="text-center">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default"><a [routerLink]="['/students/current']">Back to home page</a></button>
    </div>
  </div>

  <br>
  <br>
  <div class="panel panel-info">
    <div class="panel-heading">My Grades</div>
    <div class="panel-body">
      <div id="gradesTable">
        <table class="table table-striped">
          <thead>
            <th>Activity</th>
            <th>Date</th>
            <th>Mandatory</th>
            <th>Total Score</th>
          </thead>
          <tbody>
            <tr>
              <td>Basketball</td>
              <td>28/4/17 20:00</td>
              <td>Yes</td>
              <td>100</td>
            </tr>
            <tr>
              <td>Swimming</td>
              <td>28/4/17 20:00</td>
              <td>No</td>
              <td>95</td>
            </tr>
            <tr>
              <td>Football</td>
              <td>28/4/17 20:00</td>
              <td>No</td>
              <td>100</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>