<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:dir="rtl" lang="HE">
<head>
    <title th:remove="all">A new activity was created for you</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
    <body style="text-align:right; direction:rtl;">
    <p><b>A new activity was created for you</b></p>

    <div>
        Hi <span th:text="${firstName}"></span>,
        <br />
        A new activity was created for your, it's taking place at: <span th:text="${activityDate}"></span>.<br />
        <a th:href="${participationApprovalUrl}">Click here to approve participation in the activity</a><br />
    </div>

</body>
</html>