<div id="container" class="col-md-12 col-lg-offset-2">
  <div class="student-activities-page">

    <h3>Pending activities</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Activity type</th>
          <th>Date</th>
          <th>Measurement type</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities.pending">
          <td>{{ activity.activityInstance.activityType.name }}</td>
          <td>{{ activity.activityInstance.formattedDate }}</td>
          <td>{{ activity.activityInstance.activityType.measurementTypeId }}</td>
        </tr>
      </tbody>
    </table>

    <h3>Past activities</h3>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Activity type</th>
          <th>Date</th>
          <th>Measurement type</th>
          <th>Result (Distance|Quantity|Time)</th>
          <th>Grade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let activity of activities.past">
          <td>{{ activity.activityInstance.activityType.name }}</td>
          <td>{{ activity.activityInstance.formattedDate }}</td>
          <td>{{ activity.activityInstance.activityType.measurementTypeId }}</td>
          <td>{{ activity.measurement }}</td>
          <td>{{ activity.grade }}</td>
        </tr>
      </tbody>
    </table>

    
  </div>
</div>