<div id="container" class="col-md-12">

    <div class="text-center">
        <div class="btn-group" role="group">
            <button type="button" class="btn btn-default"><a [routerLink]="['/activities/create']">Create Activity</a></button>
            <button type="button" class="btn btn-default"><a [routerLink]="['/teachers/students/registration']">Register Student</a></button>
            <button type="button" class="btn btn-warning" (click)="logout()">Log Out</button>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-md-2">
            <img [src]="currentUser.photoPath" class="profile-image" />
        </div>
        <div class="col-md-10">
            <div class="panel panel-info">
                <div class="panel-heading">Teacher - general information</div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">First Name: {{currentUser.firstName}} </li>
                        <li class="list-group-item">Last Name: {{currentUser.lastName}}</li>
                        <li class="list-group-item">Gender: {{currentUser.gender === 'M' ? 'Male' : 'Female'}}</li>
                        <li class="list-group-item">Email: {{currentUser.email}}</li>
                        <li class="list-group-item">Id: {{currentUser.govId}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>