

    <div id="container" class="col-md-12 col-lg-offset-2">
        <div class="text-center">
            <div class="btn-group" role="group">
            <button type="button" class="btn btn-default">Create Activity</button>
            <button type="button" class="btn btn-default"><a [routerLink]="['/register']">Register Student</a></button>
            <button type="button" class="btn btn-warning" (click)="logout()">Log Out</button>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-info">
                    <div class="panel-heading">General Information</div>
                    <div class="panel-body">
                        <ul class="list-group" style="background-color: #94315d;">
                            <li class="list-group-item" style="background-color: #94315d;">First Name: {{currentUser.firstName}} </li>
                            <li class="list-group-item" style="background-color: #94315d;">Last Name: {{currentUser.lastName}}</li>
                            <li class="list-group-item" style="background-color: #94315d;">Gender: {{currentUser.gender}}</li>
                            <li class="list-group-item" style="background-color: #94315d;">Email: {{currentUser.email}}</li>
                            <li class="list-group-item" style="background-color: #94315d;">Id: {{currentUser.govId}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSZMU3jACjxRTIz6naPYx__V9TmID9AC46G3mC5GuHUH3AQ1hzB6e7aCIQ" style="background-color:#3b5998" width="165" height="165">
            </div>
        </div>
        <div class="row">
            <!--<div class ="col-md-3">
                <button type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-plus">Create Activity</span> 
                </button>
            </div>
            <div class ="col-sm-3">
                <button ngClick type="button" class="btn btn-default btn-md">
                    <span class="glyphicon glyphicon-plus"><a [routerLink]="['/register']">Register Student</a></span> 
                </button>
            </div>-->
        </div>
    </div>
    <!--<h3>All registered users:</h3>
    <ul>
        <li *ngFor="let user of users">
            {{user.username}} ({{user.firstName}} {{user.lastName}})
            - <a (click)="deleteUser(user.id)">Delete</a>
        </li>
    </ul>   
    <p><a [routerLink]="['/login']">Logout</a></p>-->

