<div id="container" class="col-md-12">
  <div class="student-activities-page">

    <h3>My activities</h3>

    <div *ngIf="activities.pending.length">
      <h4>Pending activities</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Activity type</th>
            <th>Date</th>
            <th>Measurement type</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activities.pending" (click)="goToActivityPage(activity)" class="pointer">
            <td>{{ activity.activityInstance.activityType.name }}</td>
            <td>{{ activity.activityInstance.formattedDate }}</td>
            <td>{{ activity.activityInstance.activityType.measurementTypeId }}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="activities.past.length">
      <h4>Past activities</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Activity type</th>
            <th>Date</th>
            <th>Measurement type</th>
            <th>Result (Distance|Quantity|Time)</th>
            <th>Grade</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activities.past" (click)="goToActivityPage(activity)" class="pointer">
            <td>{{ activity.activityInstance.activityType.name }}</td>
            <td>{{ activity.activityInstance.formattedDate }}</td>
            <td>{{ activity.activityInstance.activityType.measurementTypeId }}</td>
            <td>{{ activity.measurement }}</td>
            <td>{{ activity.grade }}</td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>