<div id="container" class="col-md-12">
  <div class="row">
    <div id="generalInfor">
      <div class="col-md-2">
        <img [src]="currentUser.photoPath" class="profile-image" />
      </div>
      <div class="col-md-10">
        <div class="panel panel-info">
          <div class="panel-heading">Student - general Information</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">First Name: {{currentUser.firstName}} </li>
              <li class="list-group-item">Last Name: {{currentUser.lastName}}</li>
              <li class="list-group-item">Gender: {{currentUser.gender === 'M' ? 'Male' : 'Female'}}</li>
              <li class="list-group-item">Email: {{currentUser.email}}</li>
              <li class="list-group-item">Id: {{currentUser.govId}}</li>
              <li class="list-group-item">School: {{currentUser.school.name}}</li>
              <li class="list-group-item">Class: {{currentUser.schoolClass.name}}</li>
              <li class="list-group-item">Height: {{currentUser.height}}</li>
              <li class="list-group-item">Weight: {{currentUser.weight}}</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>