<div id="container" class="col-md-12">
  <div class="activities-page">

    <h3>My activities</h3>

    <div *ngIf="activities.pending.length">
      <h4>Pending activities</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Activity type</th>
            <th>Date</th>
            <th>Measurement type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activities.pending" 
            (click)="goToActivityPage(activity)" class="pointer">
            <td>{{ activity.activityType.name }}</td>
            <td>{{ activity.formattedDate }}</td>
            <td>{{ activity.activityType.measurementTypeId }}</td>
            <td><button (click)="setResults($event, activity.id)" class="btn btn-primary">Edit results</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="activities.past.length">
      <h4>Past activities</h4>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Activity type</th>
            <th>Date</th>
            <th>Measurement type</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let activity of activities.past" (click)="goToActivityPage(activity)" class="pointer">
            <td>{{ activity.activityType.name }}</td>
            <td>{{ activity.formattedDate }}</td>
            <td>{{ activity.activityType.measurementTypeId }}</td>
            <td><button (click)="setResults($event, activity.id)" class="btn btn-primary">Edit results</button></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>