<div class="col-md-10 create-activity col-centered">
    <h3>Create New Activity - Teacher</h3>
    <form name="form" (ngSubmit)="f.form.valid && createActivity()" #f="ngForm" novalidate>
        <div class="form-group">
            <label for="type">Activity type</label>
            <select class="form-control" id="type" name="type" [(ngModel)]="activity.type" #activityType="ngModel" required>
                <option value="" disabled>Select</option>
                <option *ngFor="let at of this.payload.activityTypes" [ngValue]="at">{{at.name}}</option>
            </select>
        </div>

        <div *ngIf="activity.type">Measurements type: {{activity.type.measurementTypeId.charAt(0).toUpperCase().concat(activity.type.measurementTypeId.substr(1).toLowerCase())}}</div>
        <div *ngIf="activity.type">Num measurements: {{activity.type.numOfMeasurements}}</div>
        <br />

        <div class="form-group">
            <label for="time">Date and Time for Activity</label>
            <input type="datetime-local" [min]="minDateTime" class="form-control" name="time" (blur)="validations.time = true"
                [(ngModel)]="activity.time" #time="ngModel" required />
            <div *ngIf="time.errors && validations.time">
                <div [hidden]="!time.errors.required" class="help-block">Date and time are required</div>
                <div [hidden]="!time.errors.min" class="help-block">Min date: {{minDateTime}}</div>
            </div>
        </div>

        <div class="form-group">
            <label for="isMandatory">Is mandatory</label>
            <input type="radio" name="isMandatory" id="isMandatory" required="required" [(ngModel)]="activity.isMandatory" [value]="true"
            />&nbsp;True
            <input type="radio" name="isMandatory" id="isMandatory" required="required" [(ngModel)]="activity.isMandatory" [value]="false"
            />&nbsp;False
        </div>

        <div class="form-group">
            <label for="target">Target</label>
            <span *ngFor="let type of ['Class', 'Individuals']; let typeId = index">
                <input type="radio" name="target" id="target" required="required" [(ngModel)]="activity.target" [value]="typeId" />&nbsp;{{type}}
            </span>
        </div>

        <div class="choose-activity-participants">
            <div *ngIf="activity.target==0" class="form-group">
                <label for="classId">Choose class</label>
                <select class="form-control" id="classId" name="classId" [(ngModel)]="activity.classId" #classId="ngModel">
                    <option disabled value="">Select</option>
                    <option *ngFor="let c of schoolClasses" [value]="c.id">{{c.name}}</option>
                </select>
            </div>
            <div *ngIf="activity.target==1" class="form-group">
                <label for="studentIdList">Choose individual students</label>
                <br />
                <md-input-container>
                    <input mdInput placeholder="Enter student name" [mdAutocomplete]="auto" [formControl]="studentsSuggestionCtrl">
                </md-input-container>

                <md-autocomplete #auto="mdAutocomplete" [displayWith]="studentSuggestionDisplayFunction">
                    <md-option *ngFor="let student of suggestedStudents" [value]="student" (onSelectionChange)="selection($event)">
                        {{ student.firstName + ' ' + student.lastName }}
                    </md-option>
                </md-autocomplete>
                <div *ngIf="studentsList.length > 0" class="students-list-container">
                    <div class="students-list-title">Invited students:</div>
                    <ul class="students-list">
                        <li *ngFor="let student of studentsList">
                            <button (click)="removeStudent(student)" class="btn btn-secondary invited-student">Remove</button>                            - {{student.firstName + ' ' + student.lastName}}
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="form-group">
            <button [disabled]="!f.form.valid || (activity.target == 0 && !activity.classId) || (activity.target == 1 && studentsList.length == 0)"
                class="btn btn-primary">Create</button>
            <a [routerLink]="['/teachers/current']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>