<div class="col-md-6 col-md-offset-3">
    <h2>Register Teacher</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !firstName.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName ngModel required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !lastName.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !userName.valid }">
            <label for="userName">Username</label>
            <input type="text" class="form-control" name="userName" [(ngModel)]="model.userName" #userName="ngModel" required />
            <div *ngIf="f.submitted && !userName.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !govId.valid }">
            <label for="govId">ID</label>
            <input type="number" class="form-control" name="govId" [(ngModel)]="model.govId" #govId="ngModel" required />
            <div *ngIf="f.submitted && !govId.valid" class="help-block">ID is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !gender.valid }">
            <label for="gender">Gender (M\F)</label>
            <input type="text" class="form-control" name="gender" [(ngModel)]="model.gender" #gender="ngModel" required />
            <div *ngIf="f.submitted && !gender.valid" class="help-block">Gender is required M or F</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dateOfBirth.valid }">
            <label for="dateOfBirth">Date of birth</label>
            <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="model.dateOfBirth" #dateOfBirth="ngModel" required />
            <div *ngIf="f.submitted && !dateOfBirth.valid" class="help-block">Date of birth is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !schoolName.valid }">
            <label for="schoolName">School</label>
            <input type="text" class="form-control" name="schoolName" [(ngModel)]="model.schoolName" #schoolName="ngModel" required />
            <div *ngIf="f.submitted && !schoolName.valid" class="help-block">school Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !photoPath.valid }">
            <label for="photoPath">Photo path</label>
            <input type="text" class="form-control" name="photoPath" [(ngModel)]="model.photoPath" #photoPath="ngModel" required />
            <div *ngIf="f.submitted && !photoPath.valid" class="help-block">Photo path is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Register</button>
            <div *ngIf=loading class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
