<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Tazuzu</a>
            </div>
            <ul class="nav navbar-nav">
                <li routerLinkActive="active">
                    <a [routerLink]="['/students/current']" id="menu_home">Home</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/students/activities/create']" id="menu_create_activity">Create Activity</a>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/students/activities/list']" id="menu_my_activities">My activities</a>
                </li>
                <li routerLinkActive="active">
                    <a (click)="logout()" id="menu_logout">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <br />
    <alert></alert>
    <router-outlet></router-outlet>
</div>