<div class="col-md-6 col-md-offset-3">
    <h2>Register</h2>
    <form name="form" (ngSubmit)="f.form.valid && register()" #f="ngForm" novalidate>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" name="firstName" [(ngModel)]="model.firstName" #firstName="ngModel" required />
            <div *ngIf="f.submitted && !firstName.valid" class="help-block">First Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="lastName">Last Name</label>
            <input type="text" class="form-control" name="lastName" [(ngModel)]="model.lastName" #lastName="ngModel" required />
            <div *ngIf="f.submitted && !lastName.valid" class="help-block">Last Name is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
            <label for="username">Username</label>
            <input type="text" class="form-control" name="username" [(ngModel)]="model.username" #username="ngModel" required />
            <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="model.password" #password="ngModel" required />
            <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !studentId.valid }">
            <label for="studentId">ID</label>
            <input type="number" class="form-control" name="studentId" [(ngModel)]="model.studentId" #studentId="ngModel" required />
            <div *ngIf="f.submitted && !studentId.valid" class="help-block">ID is required</div>
        </div>
        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender"
            [(ngModel)]="model.gender" #gender="ngModel" required>
            <option *ngFor="let g of genders" [value]="g">{{g}}</option>
            </select>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !dateOfBirth.valid }">
            <label for="dateOfBirth">Date of birth</label>
            <input type="date" class="form-control" name="dateOfBirth" [(ngModel)]="model.dateOfBirth" #dateOfBirth="ngModel" required />
            <div *ngIf="f.submitted && !dateOfBirth.valid" class="help-block">Date of birth is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !email.valid }">
            <label for="email">Email</label>
            <input type="text" class="form-control" name="email" [(ngModel)]="model.email" #email="ngModel" required />
            <div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>
        </div>
        <div class="form-group">
            <label for="school">School</label>
            <select class="form-control" id="school" name="school"
                [(ngModel)]="model.school" #school="ngModel" required>
            <option *ngFor="let school of schools" [value]="school">{{school}}</option>
            </select>
        </div>
        <div class="form-group">
            <label for="class">Class</label>
            <select class="form-control" id="groupId" name="groupId"
            [(ngModel)]="model.groupId" #groupId="ngModel" required>
            <option *ngFor="let class of classes" [value]="class">{{class}}</option>
            </select>
        </div> 
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !height.valid }">
            <label for="height">Height</label>
            <input type="number" class="form-control" name="school" [(ngModel)]="model.height" #height="ngModel" required />
            <div *ngIf="f.submitted && !height.valid" class="help-block">Height is required</div>
        </div>
        <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !height.valid }">
            <label for="weight">Weight</label>
            <input type="number" class="form-control" name="school" [(ngModel)]="model.weight" #weight="ngModel" required />
            <div *ngIf="f.submitted && !weight.valid" class="help-block">Weight is required</div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored">Register</button>
            <div *ngIf=loading class="mdl-spinner mdl-spinner--single-color mdl-js-spinner is-active"></div>
            <a [routerLink]="['/login']" class="btn btn-link">Cancel</a>
        </div>
    </form>
</div>
